
db.sqlite3
venv/bin/__pycache__/jp.cpython-37.pyc
venv/bin/jp.py
venv/include/
venv/lib/python3.7/site-packages/PIL/
venv/lib/python3.7/site-packages/Pillow-8.0.0.dist-info/
venv/lib/python3.7/site-packages/__pycache__/six.cpython-37.pyc
venv/lib/python3.7/site-packages/boto3-1.15.18.dist-info/
venv/lib/python3.7/site-packages/boto3/
venv/lib/python3.7/site-packages/botocore-1.18.18.dist-info/
venv/lib/python3.7/site-packages/botocore/
venv/lib/python3.7/site-packages/dateutil/
venv/lib/python3.7/site-packages/django_forms_bootstrap-3.1.0.dist-info/
venv/lib/python3.7/site-packages/django_forms_bootstrap/
venv/lib/python3.7/site-packages/django_storages-1.10.1.dist-info/
venv/lib/python3.7/site-packages/jmespath-0.10.0.dist-info/
venv/lib/python3.7/site-packages/jmespath/
venv/lib/python3.7/site-packages/python_dateutil-2.8.1.dist-info/
venv/lib/python3.7/site-packages/s3transfer-0.3.3.dist-info/
venv/lib/python3.7/site-packages/s3transfer/
venv/lib/python3.7/site-packages/six-1.15.0.dist-info/
venv/lib/python3.7/site-packages/six.py
venv/lib/python3.7/site-packages/storages/
venv/lib/python3.7/site-packages/urllib3-1.25.10.dist-info/
venv/lib/python3.7/site-packages/urllib3/
venv/lib/python3.7/site-packages/whitenoise-5.2.0.dist-info/
venv/lib/python3.7/site-packages/whitenoise/
static/
*.png
env.py
media/

