/*Colours*/

body {
    background-color: #eee;
}

.nav-wrapper {
    background-color: #fff;
}

.nav-wrapper a {
    color: #c8a2c8;
    font-size: 60px;
    font-family: serif;
}

footer {
    background-color: #424242;
    color: #ffffff;
}

.sitemap {
    color: #ffffff;
}

.brand-logo {
    color: #c8a2c8;
}

.griggs_design_link {
    color: #ffffff;
}

.btn {
    background-color: #c8a2c8;
}

.btn:hover {
    background-color: #005357;
}

/*---Navbar---*/

.nav-link {
    color: #013537;
    font-size: 15px;
    font-family: sans-serif;
    padding: 0 15px;
}

h2 {
    font-size: 30px;
}

.side-nav li>a {
    font-size: 20px;
}

.btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (max-width:780px) {

    form {
        width: 100%;
    }
}