/*Colours*/

body {
    background-color: #eee;
}

.nav-wrapper {
    background-color: #fff;
}

.nav-wrapper a {
    color: #c8a2c8;
}

.nav {
    color: #eeeeee;
}

footer {
    background-color: #424242;
    color: #ffffff;
}

.sitemap {
    color: #ffffff;
}

.brand-logo {
    color: #c8a2c8;
}

.griggs_design_link {
    color: #ffffff;
}

.btn {
    background-color: #c8a2c8;
    color: #eeeeee;
}

.btn:hover {
    background-color: #005357;
}

button a {
    color: #eeeeee;
}

.divider {
    color: grey;
    border-width: 2px;
    border-top-style: solid;
}

/*---Navbar---*/

main {
    min-height: 70vh;
}

.nav-link {
    color: #013537;
    font-size: 15px;
    font-family: sans-serif;
    padding: 0 15px;
}

h2 {
    font-size: 30px;
}

.side-nav li>a {
    font-size: 20px;
}

.btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.adept {
    font-size: 60px;
}

.nav-wrapper .adept {
    font-size: 60px;
}

.sitemap {
    padding-left: 10px;
}

@media (max-width:780px) {

    form {
        width: 100%;
    }

    .login a {
        font-size: 25px;
    }

    a.nav-link.login {
        font-size: 26px;
    }
}
