/*------Colours-----*/

body {
    background-color: #eee;
}

.nav-wrapper {
    background-color: #fff;
}

.nav-wrapper a {
    color: #c8a2c8;
    font-size: 60px;
    font-family: serif;
}

footer {
    background-color: #424242;
    color: #ffffff;
}

/*---Navbar---*/

.nav-link {
    color: #013537;
    font-size: 15px;
    font-family: sans-serif;
    padding: 0 15px;
}

@media (max-width:780px) {

    form {
        width: 100%;
    }
}